* {
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

body {
  background-color: #FFFBFC;
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
  color: #FFFBFC;
  padding: 5%;
}

p {
  font-family: 'Noto Sans HK', sans-serif;
  color: #13293D;
  padding: 2%;
  text-align: center;
  margin: 3%;
}

img {
  width: 100%;
}

/*NAVIGATION*/
ul {
  float: right;
}

li {
  display: inline-block;
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #FFFBFC;
}

.navbar {
  font-family: 'Noto Sans HK', sans-serif;
  text-align: right;
  padding: 2%;
}

.navbar img {
  width: 100%;
  max-width: 270px;
  float: left;
  position: relative;
  margin: 20px 25px 25px 20px;
  filter: drop-shadow(5px 5px 5px #13293D);
}

.navbar a {
  width: 60%;
}

/*HERO SECTION*/
.hero-image {
  background-image: url("images/header.png");
  background-color: #13293D;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #FFFBFC;
}

/*HOME PAGE*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left-col img {
  max-width: 300px;
  border-style: solid;
  border-color: #13293D;
  padding: 2%;
  border-width: 13px 13px 13px 13px;
  margin: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.right-col {
  height: 100%;
}

.blue-bar {
  background-color: #4E91CD;
  padding: 3%;
}

.right-col {
  text-align: center;
}

.beige {
  background-color: #D8D0C1;
}

.blue {
  background-color: #4E91CD;
}

.dark {
  background-color: #416788;
}

/*ABOUT PAGE*/
.about {
  background-color: #13293D;
}

.running-image {
  width: 100%;
  border-style: solid;
  border-color: #D8D0C1;
  padding: 2%;
  border-width: 13px 13px 13px 13px;
  margin: 8%;
  display: block;
  height: 100%;
}

.offset {
  max-width: 500px;
  position: relative;
  top: 5rem;
}

.about-content p {
  text-align: left;
  margin-left: 40%;
  margin-top: 1%;
  padding: 1%;
}

.about-content h1 {
  color: #4E91CD;
  font-size: 2rem;
  margin-left: 40%;
  padding: 1%;
}

.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.about-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 1%;
  margin: 2%;
}

.pic1-column {
  height: 100%;
}

.pic2-column {
  height: 100%;
}

.pic3-column {
  height: 100%;
}

/*BUTTONS*/
.button {
  background-color: #13293D;
  color: #FFFBFC;
  padding: 15px 50px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 25px;
  cursor: pointer;
  border-radius: 4px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

.about-button {
  background-color: #FFFBFC;
  color: #13293D;
  border: 1px solid #13293D;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 25px;
  cursor: pointer;
  border-radius: 4px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px 15px;
}

/*FOOTER*/
.footer{
  background-color: #13293D;
  height: 70px;
  padding: 1%;
}

footer img {
  width: 34%;
  max-width: 40px;
  margin: 1%;
  float: right;
}
