* {
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

body {
  background-color: #FFFBFC;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  color: #FFFBFC;
  padding: 5%;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  color: #FFFBFC;
  padding: 10%;
  font-size: 2rem;
}

p {
  font-family: 'Noto Sans HK', sans-serif;
  color: #13293D;
  padding: 2%;
  text-align: center;
  margin: 3%;
}

img {
  width: 100%;
}

/*NAVIGATION*/

li {
  display: inline-block;
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #FFFBFC;
}

.navbar {
  font-family: 'Noto Sans HK', sans-serif;
  text-align: right;
  padding: 2%;
}

.navbar img {
  width: 100%;
  max-width: 270px;
  float: left;
  position: relative;
  margin: 20px 25px 25px 20px;
  filter: drop-shadow(5px 5px 5px #13293D);
}

.navbar a {
  width: 60%;
}

.navbar {
  display: none;
}

/*HERO SECTION*/
.hero-image {
  background-image: url("images/header.png");
  background-color: #13293D;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #FFFBFC;
}

/*HOME PAGE*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left-col img {
  max-width: 60%;
  border-style: solid;
  border-color: #13293D;
  padding: 2%;
  border-width: 13px 13px 13px 13px;
  margin: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.right-col {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.blue-bar {
  background-color: #4E91CD;
  padding: 3%;
}

.blue-bar-2 {
  background-color: #13293D;
  padding: 1px;
  margin: 2%;
  margin-left: 7%;
  margin-right: 7%;
}

.beige {
  background-color: #D8D0C1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.blue {
  background-color: #4E91CD;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.dark {
  background-color: #416788;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

/*ABOUT PAGE*/
.about {
  background-color: #13293D;
  padding-bottom: 20%;
}

.about-top-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.about-top-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 2%;
  margin: 3%;
}

.pic1-about-column {
  height: 50%;
}

.pic2-about-column {
  height: 50%;
}

.running-image {
  width: 100%;
  max-width: 100%;
  border-style: solid;
  border-color: #D8D0C1;
  padding: 4%;
  border-width: 13px 13px 13px 13px;
}

.pic2-about-column h1 {
  font-family: 'Libre Baskerville', serif;
  color: #4E91CD;
  padding: 2%;
}

.pic2-about-column p {
  font-family: 'Noto Sans HK', sans-serif;
  color: #13293D;
  padding: 2%;
  text-align: left;
  margin: 1%;
}


.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.about-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 1%;
  margin: 2%;
}

.pic1-column {
  height: 100%;
}

.pic2-column {
  height: 100%;
}

.pic3-column {
  height: 100%;
}

/*STORIES PAGE*/

.story {
  background-color: #13293D;
  padding-bottom: 5%;
}

.stories-row p {
  font-family: 'Noto Sans HK', sans-serif;
  color: #FFFBFC;
  padding: 2%;
  text-align: center;
  margin: 3%;
}

.stories-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.pic3-stories-column p, .pic4-stories-column p {
  font-family: 'Noto Sans HK', sans-serif;
  color: #13293D;
  padding: 2%;
  text-align: center;
  margin: 3%;
}

.share-story p {
  text-align: left;
}

.stories-row-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #D8D0C1;
}

.stories-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 2%;
  margin: 4%;
  border-style: solid;
  border-color: #416788;
  padding: 2%;
  border-width: 13px 13px 13px 13px;
}

.stories-column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 2%;
  margin: 4%;
}

.pic1-stories-column {
  height: 100%;
}

.pic2-stories-column {
  height: 100%;
}

.pic3-stories-column {
  height: 100%;
}

.pic4-stories-column {
  height: 100%;
}

.share-story {
  height: 100%;
}

.story-form {
  height: 100%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #13293D;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #13293D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #D8D0C1;
  color: #13293D;
}

.container {
  border-radius: 5px;
  background-color: #FFFBFC;
  padding: 20px;
  font-family: 'Noto Sans HK', sans-serif;
}


/*BUTTONS*/
.button {
  background-color: #13293D;
  color: #FFFBFC;
  padding: 5% 5%;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 5%;
  cursor: pointer;
  border-radius: 4px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.about-button {
  background-color: #FFFBFC;
  color: #13293D;
  border: 1px solid #13293D;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 15%;
  cursor: pointer;
  border-radius: 4px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 5%;
}

.top-about-button {
  background-color: #D8D0C1;
  color: #13293D;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
  width: 40%;
  padding: 5%;
}

#button1, #button2, #button3, #button4 {
  background-color: #416788;
  color: #FFFBFC;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
  width: 40%;
  padding: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

#button5 {
  background-color: #4E91CD;
  color: #FFFBFC;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
  width: 40%;
  padding: 5%;
}

/*HAMBUERGER MENU*/
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#FFFBFC;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#13293D;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#FFFBFC;  position:absolute; text-align:center; font-size:1rem; font-family: 'Noto Sans HK', sans-serif;
}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#416788 1px solid;}
.menu li:hover{display: block;    background:#4E91CD; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#13293D;}
.menu ul li a:hover {  color: #13293D; text-decoration:none;}
.menu a{text-decoration:none; color:#13293D;}
.menu a:hover{text-decoration:none; color:#13293D;}
.menu img {
  width: 30%;
}

/*FOOTER*/
.footer{
  background-color: #13293D;
  height: 70px;
  padding: 1%;
}

footer img {
  width: 34%;
  max-width: 40px;
  margin: 1%;
  float: right;
}

.hide {
  display: none;
}


/*MEDIA QUERIES*/
@media (min-width: 820px) {

  .menu, .hamburger, .cross {
    display: none;
  }

  .navbar {
    display: block;
  }
}
